
<div class="card">
  <div class="header-card">
    <h2>{{product.name}}</h2>
    <p>Disponible hasta: <strong>{{product.dateExpiration}}</strong></p>
  </div>

  <app-img [img]="product.image"></app-img>
  <p>{{product.description}}</p>
  <div class="button">
    <button (click)="addToCart()" >Agregar Curso</button>
    <div class="class-button">
      <form routerLink="/register" (click)="toggleMenu()">visitar</form>
    </div>
  </div>
  <div class="botom-card">
    <p >Etiqueta: {{product.tag}}</p>
  </div>
</div>
