.container{

}
//tablets
@media screen and (min-width: 40em) and (max-width: 63.9em){
  .products--grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
}

//web
@media screen and (min-width: 64em) {
  .products--grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
}
