<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img class="icon-school" src="./assets/svg/logo_yard_sale.svg" alt="logo">
    </a>
    <a href="">
      <img class="icon-books" src="./assets/svg/icon_shopping_cart.svg" alt="logo">
      <span>{{counter}} </span>
    </a>
  </div>
  <div [class.active]="activeMenu" class="side-menu">
    <button (click)="toggleMenu()"> close </button>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Jornadas</a></li>
        <li><a href="#">Profesores</a></li>
      </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="#">
        <img class="icon-school" src="./assets/svg/logo_yard_sale.svg" alt="logo">
      </a>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a routerLinkActive="active" routerLink="/category">Cursos</a></li>
        <li><a href="#">Profesores</a></li>
      </ul>
    </nav>

    <div class="info">
      <div class="account">nicolas@nicolas.com</div>
      <div>
        <a href="">
          <img class="icon-books" src="./assets/svg/icon_shopping_cart.svg" alt="logo">
          <span>{{counter}} </span>
        </a>
      </div>
    </div>
  </div>
</div>
